
<footer class="footer">
	<div class="container">
	  <div class="row">
	  	<div class="col-sm-2">
			<h6> 4WallsPH by Jerrome, Remy Martin, and Mark Christian.</h6>
		</div> <!--end this column sm 2 -->
		<div class="col-sm-4 col-left">
			<h6>About Us </h6>
			<p>
				4WallsPH will be a free website for its users. Users just need to register for them to have their database on the server and be able to post their house, condo, apartments or room that they want to be rented or to rent. The website layout and interface will be as simple as possible for the new users to be familiarized with the website as quickly and start their searching in a breeze. For starters the website will be accommodating the NCR area for houses that is to for rent specifically Makati City, Taguig City, Pasay City, Quezon City and Pasig City.
			</p>
		</div> <!--end this column sm 4 -->
		<div class="col-sm-2">
  			<h6>Navigation </h6>
  			<ul class="unstyled">
  				<li><%=link_to "Home", root_path %></li>
  				<li><%=link_to "Sign Up", new_user_registration_path%></li>
  				<li><%=link_to "Log In", new_user_session_path%></li>
  			</ul>
		</div> <!--end this column sm 2 -->
		<div class="col-sm-1">
			<h6>Facebook</h6>
  			<ul class="unstyled">
  				<li><a href="#">Mark</a></li>
  				<li><a href="#">Remy</a></li>
  				<li><a href="#">Jerrome</a></li>
  			</ul>
		</div> <!--end this column sm 1 -->
			<div class="col-sm-1">
			<h6>Twitter</h6>
  			<ul class="unstyled">
  				<li><a href="#">Mark</a></li>
  				<li><a href="#">Remy</a></li>
  				<li><a href="#">Jerrome</a></li>
  			</ul>
		</div> <!--end this column sm 1 -->
				<div class="col-sm-1">
			<h6>Instagram</h6>
  			<ul class="unstyled">
  				<li><a href="#">Mark</a></li>
  				<li><a href="#">Remy</a></li>
  				<li><a href="#">Jerrome</a></li>
  			</ul>
		</div> <!--end this column sm 1 -->
	  </div> <!--close this row -->
	</div>
</footer>