 <%= form_tag posts_path, class: "navbar-form navbar-left", :method => 'get' do %>
 		<%= text_field_tag :search, params[:search], class: "form-control", id: "searchfield", placeholder: "TItle Search" %>
 	<%= button_tag(type: "submit", class: "btn btn-default ") do %>
		 <span class="glyphicon glyphicon-search"></span>
      <% end %>
 <% end %>